@model IEnumerable<AiVacina.Models.AgendaVacina>

@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}
</style>
<h2>Minha Agenda</h2>

@Html.Partial("_PacienteLayout")

@{
    if (Model == null || Model.Count() <= 0)
    {
        <h2>Não há vacinas agendadas.</h2>
        <h3><strong><u><a href="@Url.Action("Agendamento", "Paciente")">Clique aqui</a></u></strong>    para realizar um agendamento.</h3>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nomeEstabelecimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rua)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nomeVacina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataAgendamento)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeEstabelecimento)
                        @Html.HiddenFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeVacina)
                    </td>
                    <td>
                        @{ 
                            var dia = item.dataAgendamento.Day;
                            var mes = item.dataAgendamento.Month;
                            var ano = item.dataAgendamento.Year;
                            var horario = item.dataAgendamento.TimeOfDay;

                            var dataFinal = String.Format("{0}/{1}/{2} {3}", dia, mes, ano, horario);

                        }
                        @dataFinal
                    </td>
                    <td>
                        @*@Html.ActionLink("Cancelar Agendamento","", "", new { @id="cancelaAgendamento"})*@

                        <button class="btn btn-default cancelaAgendamento" value="@item.id">Cancelar Agendamento</button>
                    </td>
                </tr>
            }
        </table>

        }
                             }
   
<div id="modalSucesso" class="modal fade modal-fix" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fechaModal" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Agendamento Cancelado com sucesso!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success fechaModal" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>

    @section scripts {

        @Scripts.Render("~/bundles/agenda");
    }