@model IEnumerable<AiVacina.Models.AgendaVacina>

@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minha Agenda</h2>

@{
    if (Model == null || Model.Count() <= 0)
    {
        <h2>Não há vacinas agendadas.</h2>
        <h3><a href="@Url.Action("Agendamento", "Paciente")">Clique aqui</a> para realizar um agendamento.</h3>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nomeEstabelecimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rua)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.bairro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nomeVacina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataAgendamento)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeEstabelecimento)
                        @Html.HiddenFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rua)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomeVacina)
                    </td>
                    <td>
                        @{ 
                            var dia = item.dataAgendamento.Day;
                            var mes = item.dataAgendamento.Month;
                            var ano = item.dataAgendamento.Year;
                            var horario = item.dataAgendamento.TimeOfDay;

                            var dataFinal = String.Format("{0}/{1}/{2} {3}", dia, mes, ano, horario);

                        }
                        @dataFinal
                    </td>
                    <td>
                        @*@Html.ActionLink("Cancelar Agendamento","", "", new { @id="cancelaAgendamento"})*@

                        <button class="btn btn-default cancelaAgendamento" value="@item.id">Cancelar Agendamento</button>
                    </td>
                </tr>
            }
        </table>

        } }
    <div class="modalCarregando">
    </div>


    @section scripts {

        @Scripts.Render("~/bundles/agenda");
    }