@model AiVacina.Models.Paciente

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/pacienteIicio")
@{ 
    var nome = Session["Nome"];

    if (nome == null)
    {
        nome = String.Empty;
    }
}
<h2>Bem Vindo(a) @nome</h2>

@Html.Partial("_PacienteLayout")

<div class="container">

    <button type="button" class="btn btn-secondary " style="display:none" id="mostrarProximaVacina">Proxima Vacina</button>

    <div class="row">
        <h5>Consulte as vacinas disponíveis nos postos de nossa rede.</h5>
    </div>
    <br />

    <div class="row">
        @Html.Action("GetSelectPostos", "Paciente")
    </div>
    <!--Rendereziza as vacinas por posto - _VacinasPorPosto.cshtml-->
    <div class="row">
        <div id="vacinas" class="col-md-4"></div>
        <div class="col-md-1"></div>
        <div  class="col-md-6">
            <img src="~/images/pacienteInicio.jpg" class=""/>
        </div>
    </div>
</div>

<div class="divProximaVacina alert alert-dismissible alert-info" style="" id="divProximaVacina">
    <strong>Aviso: Próxima Vacina!</strong>

    <p id="proximoTexto"></p>
    <p id="proximaData"></p>
    <p id="proximoVacina"></p>
    <p id="proximoLugar"></p>
    <button type="button" class="btn btn-secondary" id="fecharProximaVacina">Fechar</button>
</div>


@section scripts {

    @Scripts.Render("~/bundles/pacienteIicio");
}