@model AiVacina.Models.Paciente

@{
    ViewBag.Title = "MeusDados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meus Dados</h2>

@Html.Partial("_PacienteLayout")

@{
    if (Model == null)
    {
        <p>Não foram encontrados nenhum dado deste paciente</p>
    }
    else
    {
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>

        <dd>
            @{ 
                var data = Model.dataNascimento.Split(' ')[0];

            }
            @data
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numCartaoCidadao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numCartaoCidadao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endereco.rua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco.rua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endereco.bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco.bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endereco.cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco.cidade)
        </dd>

    </dl>
</div>
    }
}