@model IEnumerable<AiVacina.Models.Vacina>


@Styles.Render("~/Content/postovacinas")

<table class="table table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codVacina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeVacina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataValidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loteVacina)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        var linhaMarcada = "";
        if (item.quantidade < 5)
        {
            linhaMarcada = "linhaVermelha";
        }
        else if (item.quantidade <= 10)
        {
            linhaMarcada = "linhaLaranja";
        }

        <tr class="@linhaMarcada linhaVacina letrasPreta">
            <td>
                @Html.DisplayFor(modelItem => item.codVacina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeVacina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @{
                    var dia = item.dataValidade.Split(' ');
                    var dataFinal = dia[0];

                }
                @dataFinal
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loteVacina)
            </td>
            <td>
                <button type="button" class="btn btn-default" value="">Editar</button>
            </td>
            <td>
                <span class="glyphicon glyphicon-remove-circle deletaVacina" aria-hidden="true" style="cursor:pointer" id=""></span>
            </td>
        </tr>
                    }

</table>
