@model IEnumerable<AiVacina.Models.AgendaVacina>

@{
    ViewBag.Title = "Agenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agenda</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="datepicker"></div>
                </div>

                <div class="col-md-8">
                    <table class="table" id="vacinas">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.nomeEstabelecimento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rua)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nomeVacina)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.dataAgendamento)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            var linha = "data" + item.dataAgendamento.Day + item.dataAgendamento.Month;
                            <tr linha-data="@linha">
                                <td>
                                    @Html.DisplayFor(modelItem => item.nomeEstabelecimento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.rua), @Html.DisplayFor(modelItem => item.bairro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nomeVacina)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dataAgendamento)
                                </td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    }
@section scripts {

    @Scripts.Render("~/bundles/pacientes");
    @Scripts.Render("~/bundles/adicionapostos");
}